*{
	margin:0;
	padding:0;
}

.App {
  text-align: right;
}

/*
.Main{
	margin:10px;
	padding-top:20;
}

.year{
	margin:30px;
}

.headingContainer{
	margin:20px;
}

.heading{
	margin:20px;
}

.dayCardContainer{
	margin:20px;
	background-color:grey;
	overflow:hidden;
	width:20px;
	height:20px;
	padding:2px;
}	

.cardNo{
	margin:30px;
}

.dayDescriptionContainer{
	width:10px;
	font-size:20px;
}

.description{
  padding:0;
}
*/
